[Desktop Entry]
Type=Application
Name=Welcome to Orchard Linux
Comment=Offer to install from the live preview
Exec=/usr/lib/macbook-cachyos/live-welcome
Icon=calamares
Terminal=false
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-autostart-after=panel
