[Unit]
Description=MacBook CachyOS hardware setup
Wants=NetworkManager.service
After=NetworkManager.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/macbook-cachyos/firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
