[Unit]
Description=MacBook CachyOS hardware setup
Wants=NetworkManager.service
After=NetworkManager.service
ConditionPathExists=!/var/lib/macbook-cachyos/complete

[Service]
Type=oneshot
ExecStart=/usr/lib/macbook-cachyos/firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
